[package]
name = "ride-security"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = { version = "2", features = ["full"] }
napi-derive = "2"
aes-gcm = "0.10"
sha2 = "0.10"
rand = "0.8"
hex = "0.4"
url = "2"

[build-dependencies]
napi-build = "2"

[profile.release]
lto = true
opt-level = 3
strip = true
